* {
  margin: 0;
  padding: 0;
  box-sizing: border;
  transition: all 0.2s ease-in;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: rgb(246, 246, 246);
}

#root {
  width: 100%;
  height: 100%;
}

@media (max-width: 769px) {
  html {
    font-size: 55%;
  }
}